@import "tailwindcss";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .input {
    @apply border border-gray-300 rounded-md py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
  }
}